<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-01-15T09:51:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/vitnademlejnsky/Desktop/Práce/IT/iOS_development/Assignments/Ackee-RM/ackee-ios-assignment/RickAndMorty/RickAndMorty.xcodeproj</string>
</dict>
</plist>
